.DS_Store
node_modules
/dist
/coverage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase
# If not sharing the same project (ex: company internal),
# then don't include: https://firebase.google.com/docs/cli/#source_control_aliases
.firebaserc
database.rules.json
*-debug.log

# Cypress
cypress/integration/examples
cypress/fixtures/example.json
cypress/screenshots
cypress/videos

# NOTE: May need to undo these at some point, if using like-named fixtures
cypress/fixtures/profile.json
cypress/fixtures/users.json