@import '@/styles/theming';
$darkpink: darken(hotpink, 20%);

.btn-secondary {
  background-color: $darkpink;
  border: 0px;

  &:hover {
    background-color: hotpink;
  }
}

text {
  font-family: Arial;
  font-size: 22px;
}
