@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
$darkpink: darken(hotpink, 20%);

.btn-secondary {
  background-color: $darkpink;
  border: 0px;

  &:hover {
    background-color: hotpink;
  }
}

text {
  font-family: Arial;
  font-size: 22px;
}
