VUE_APP_FIREBASE_API_KEY='YOUR_VAL_HERE'
VUE_APP_FIREBASE_AUTH_DOMAIN='YOUR_VAL_HERE'
VUE_APP_FIREBASE_DB_URL='YOUR_VAL_HERE'
VUE_APP_FIREBASE_PROJ_ID='YOUR_VAL_HERE'
VUE_APP_FIREBASE_STORAGE_BUCKET='YOUR_VAL_HERE'
VUE_APP_FIREBASE_MESSAGE_SENDER_ID='YOUR_VAL_HERE'
VUE_APP_FIREBASE_MESSAGE_APP_ID='YOUR_VAL_HERE'